<h1 id="Header">This is the show page</h1>
<p>
  <img src="<%= @image.link %>" width="400">
</p>

<% if @image.tag_list.empty? %>
    <br><strong id="no_tag_here"> (No tags for this image) </strong>
<% else %>
    <ul>
      <% @image.tag_list.each do |t| %>
          <li>
            <%= link_to t, images_path(tag: t) %>
          </li>
      <% end %>
    </ul>
<% end %>

<%= button_to 'Delete', image_path(@image), method: :delete, data: { confirm: 'Confirm to delete this image?' } %>

<p>
  <%= link_to 'Homepage', root_path %>
</p>
